# Python
__pycache__/
*.py[cod]
*.pyo
*.pyc
*.pyd
.Python
*.egg-info/
.pytest_cache/

# Virtual environments
.venv/
venv/
env/

# IDE/editor
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Build/dist
build/
dist/

