[Unit]
Description=La Marzocco Dashboard (Xinit on tty0)
After=network-online.target
Wants=network-online.target

[Service]
User=pi
WorkingDirectory=/opt/LaMarzoccoBBW
Environment=DISPLAY=:0
ExecStart=/usr/bin/xinit /home/pi/.xinitrc -- :0 -s 0 -dpms
Restart=on-failure

[Install]
WantedBy=multi-user.target

